<p id="notice"><%= notice %></p>

<h1>To-Do List</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.task %></td>
        <td><%= item.completed %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>


        <td> <%=  link_to 'Mark Complete', item_complete_path(id: item.id)  %></td>
        <td> <%=  link_to 'Mark Imcomplete', item_incomplete_path(id: item.id)  %></td>




      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
